Repository GoldenOwlAsia/rails-view-template: changes, and which lefthook commands are due for each by the changed paths.
All: eslint_check, rubocop_check

eslint_check:
  run: yarn run eslint {staged_files}

rubocop_check:
  run: bundle exec rubocop --force-exclusion {staged_files}

chore: split files
  config/routes.rb
  config/routes/admin.rb
  config/routes/employee.rb
Due: rubocop_check

chore: improve datetime helper
  app/helpers/date_time_helper.rb
Due: rubocop_check

chore: change role can access console web
  config/routes.rb
  config/routes/admin.rb
Due: rubocop_check

fix: update policy user
  app/frontend/entrypoints/admin.js
  app/frontend/entrypoints/application.js
  app/models/concerns/roly.rb
  app/models/user.rb
  app/policies/application_policy.rb
  app/views/layouts/admin.html.slim
  app/views/layouts/application.html.slim
  vite.config.ts
Due: eslint_check, rubocop_check

feat: add crudable
  Gemfile
  Gemfile.lock
  app/controllers/admin/users_controller.rb
  app/controllers/application_controller.rb
  app/controllers/concerns/crudable.rb
  package.json
Due: rubocop_check

feat: sample layout for admin
  app/frontend/controllers/shared/sidebar_controller.js
  app/helpers/pagination_helper.rb
  app/javascript/controllers/sidebar_controller.js
  app/views/admin/users/index.html.slim
  app/views/layouts/_admin_aside_menu.html.slim
  app/views/layouts/_admin_header.html.slim
  app/views/layouts/admin.html.slim
  app/views/layouts/application.html.slim
  app/views/shared/_remote_modal.html.slim
Due: eslint_check, rubocop_check

feat: enhance code base
  app/controllers/concerns/currentable.rb
  app/helpers/date_time_helper.rb
Due: rubocop_check

feat: enhance dashboard admin
  app/controllers/admin/base_controller.rb
  app/controllers/admin/dashboard_controller.rb
  app/frontend/controllers/charts/index.js
  app/frontend/controllers/charts/user_area_controller.js
  app/frontend/entrypoints/admin.js
  app/frontend/utils/chartBase.js
  app/presenters/dashboard_presenter.rb
  app/views/admin/dashboard/_users.slim
  app/views/admin/dashboard/index.slim
  app/views/admin/shared/_navbar.html.slim
  app/views/admin/shared/_sidebar.html.slim
  app/views/layouts/_admin_header.html.slim
  app/views/layouts/admin.html.slim
  app/views/layouts/application.html.slim
  config/initializers/constants.rb
  config/routes/admin.rb
  package.json
  yarn.lock
Due: eslint_check, rubocop_check

feat: enhance user module
  .rubocop.yml
  Gemfile
  Gemfile.lock
  app/controllers/admin/users_controller.rb
  app/controllers/concerns/crudable.rb
  app/frontend/stylesheets/admin/index.scss
  app/frontend/stylesheets/shared/form.scss
  app/frontend/stylesheets/shared/pagy.scss
  app/helpers/application_helper.rb
  app/helpers/pagination_helper.rb
  app/models/user.rb
  app/permit_params/user_params.rb
  app/policies/admin/base_policy.rb
  app/policies/admin/user_policy.rb
  app/policies/user_policy.rb
  app/views/admin/shared/_breadcrumb.slim
  app/views/admin/shared/_navbar.html.slim
  app/views/admin/shared/_sidebar.html.slim
  app/views/admin/users/_collection.slim
  app/views/admin/users/_form.slim
  app/views/admin/users/edit.slim
  app/views/admin/users/index.html.slim
  app/views/admin/users/index.slim
  app/views/admin/users/new.slim
  app/views/admin/users/show.slim
  app/views/layouts/admin.html.slim
  spec/factories/users_factory.rb
Due: rubocop_check

feat: enhance user module
  app/views/admin/shared/_sidebar.html.slim
Due: none

feat: enhance rspec
  spec/queries/users/fetch_users_query_spec.rb
Due: rubocop_check

chore: update ci/cd
  .github/workflows/ci.yml
Due: none

chore: update rspec
  config/locales/en.yml
  spec/models/user_spec.rb
Due: rubocop_check

chore: style code follow rubocop
  app/controllers/concerns/crudable.rb
  app/helpers/application_helper.rb
  app/views/admin/shared/_sidebar.html.slim
  app/views/admin/users/show.slim
  app/views/layouts/admin.html.slim
Due: rubocop_check

chore: enhance rails template
  app/controllers/concerns/tokenizable.rb
  app/frontend/images/example.svg
  app/frontend/images/robohash/robohash_set4_1.png
  app/frontend/images/robohash/robohash_set4_10.png
  app/frontend/images/robohash/robohash_set4_2.png
  app/frontend/images/robohash/robohash_set4_3.png
  app/frontend/images/robohash/robohash_set4_4.png
  app/frontend/images/robohash/robohash_set4_5.png
  app/frontend/images/robohash/robohash_set4_6.png
  app/frontend/images/robohash/robohash_set4_7.png
  app/frontend/images/robohash/robohash_set4_8.png
  app/frontend/images/robohash/robohash_set4_9.png
  app/helpers/image_helper.rb
  app/models/concerns/.keep
  app/models/concerns/robohash.rb
  app/models/user.rb
  app/operations/application_operation.rb
  app/views/admin/shared/_navbar.html.slim
  app/views/admin/users/_collection.slim
  app/views/layouts/_header.html.slim
Due: rubocop_check

chore: add skills, rules, agents workflow
  .claude/agents/bug-investigator.md
  .claude/agents/controller-agent.md
  .claude/agents/database-reviewer.md
  .claude/agents/job-agent.md
  .claude/agents/mailer-agent.md
  .claude/agents/migration-agent.md
  .claude/agents/model-agent.md
  .claude/agents/operation-agent.md
  .claude/agents/permit-params-agent.md
  .claude/agents/policy-agent.md
  .claude/agents/query-agent.md
  .claude/agents/rails-architect.md
  .claude/agents/rspec-agent.md
  .claude/agents/security-reviewer.md
  .claude/agents/stimulus-agent.md
  .claude/agents/view-agent.md
  .claude/agents/viewcomponent-agent.md
  .claude/hooks/guard-bash.sh
  .claude/hooks/protect-files.sh
  .claude/hooks/verify-changes.sh
  .claude/rules/controllers.md
  .claude/rules/frontend.md
  .claude/rules/jobs.md
  .claude/rules/mailers.md
  .claude/rules/migrations.md
  .claude/rules/models.md
  .claude/rules/operations-and-queries.md
  .claude/rules/rails-architecture.md
  .claude/rules/rails-transactions.md
  .claude/rules/security.md
  .claude/rules/specs.md
  .claude/skills/db-migration/SKILL.md
  .claude/skills/fix-bug/SKILL.md
  .claude/skills/implement-feature/SKILL.md
  .claude/skills/repo-consistency-audit/SKILL.md
  .claude/skills/review-changes/SKILL.md
  .github/workflows/ci.yml
  .i18n-tasks.yml
  CLAUDE.md
Due: none

refactor: consolidate agent descriptions and update scopes for clarity
  .claude/agents/controller-agent.md
  .claude/agents/job-agent.md
  .claude/agents/mailer-agent.md
  .claude/agents/migration-agent.md
  .claude/agents/model-agent.md
  .claude/agents/operation-agent.md
  .claude/agents/permit-params-agent.md
  .claude/agents/query-agent.md
  .claude/agents/stimulus-agent.md
  .claude/agents/view-agent.md
  .claude/agents/viewcomponent-agent.md
  .claude/rules/jobs-and-mailers.md
  .claude/rules/mailers.md
  .claude/rules/migrations.md
  .claude/rules/models-and-migrations.md
  .claude/rules/models.md
  .claude/skills/db-migration/SKILL.md
  .claude/skills/implement-feature/SKILL.md
  CLAUDE.md
Due: none

feat: introduce backend and frontend agents, update agent descriptions and scopes
  .claude/agents/async-agent.md
  .claude/agents/backend-agent.md
  .claude/agents/controller-agent.md
  .claude/agents/database-reviewer.md
  .claude/agents/frontend-agent.md
  .claude/agents/model-agent.md
  .claude/agents/operation-agent.md
  .claude/agents/policy-agent.md
  .claude/agents/rails-architect.md
  .claude/agents/reviewer-agent.md
  .claude/agents/security-reviewer.md
  .claude/skills/db-migration/SKILL.md
  .claude/skills/implement-feature/SKILL.md
  .claude/skills/review-changes/SKILL.md
  CLAUDE.md
Due: none

chore: remove deprecated i18n-tasks configuration and update paths in new config
  .i18n-tasks.yml
  config/i18n-tasks.yml
Due: none

chore: remove async and backend agents, update CLAUDE.md and frontend rules for clarity
  .claude/agents/async-agent.md
  .claude/agents/backend-agent.md
  .claude/agents/frontend-agent.md
  .claude/agents/reviewer-agent.md
  .claude/agents/rspec-agent.md
  .claude/hooks/guard-bash.sh
  .claude/rules/frontend.md
  .claude/rules/models-and-migrations.md
  .claude/rules/rails-architecture.md
  .claude/rules/specs.md
  .claude/skills/db-migration/SKILL.md
  .claude/skills/fix-bug/SKILL.md
  .claude/skills/implement-feature/SKILL.md
  .claude/skills/review-changes/SKILL.md
  CLAUDE.md
Due: none

chore: update CLAUDE.md and guard-bash.sh to block commands that discard uncommitted changes
  .claude/hooks/guard-bash.sh
  CLAUDE.md
Due: none

refactor: update component preview layout and configuration paths for view_component
  app/views/layouts/component_preview.html.slim
  config/application.rb
  config/environments/development.rb
Due: rubocop_check

refactor: remove implicit order column for UUID primary key in Role and User models
  app/models/role.rb
  app/models/user.rb
Due: rubocop_check

chore: disable ImplicitOrderingChecker in database consistency configuration
  .database_consistency.yml
Due: none

feat: enhance flash component and configuration settings
  .env.sample
  app/components/flash_component.html.slim
  app/components/flash_component.rb
  app/models/role.rb
  config/environments/staging.rb
  config/initializers/rack_attack.rb
  config/initializers/strong_migrations.rb
  db/migrate/20240915085918_rolify_create_roles.rb
  db/schema.rb
  spec/factories/roles_factory.rb
  spec/models/role_spec.rb
Due: rubocop_check

refactor: clarify model and migration rules regarding UUID primary keys, implicit ordering, and unique index constraints
  .claude/agents/bug-investigator.md
  .claude/agents/reviewer-agent.md
  .claude/rules/frontend.md
  .claude/rules/models-and-migrations.md
  .claude/rules/security.md
  .claude/skills/implement-feature/SKILL.md
Due: none

chore: update architecture enforcement rules in CLAUDE.md and exclude RSpec/DescribeClass for architecture_spec.rb in .rubocop.yml
  .claude/rules/i18n.md
  .claude/rules/specs.md
  .claude/skills/accessibility-review/SKILL.md
  .claude/skills/create-component/SKILL.md
  .claude/skills/create-controller/SKILL.md
  .claude/skills/create-migration/SKILL.md
  .claude/skills/implement-feature/SKILL.md
  .claude/skills/upgrade-dependencies/SKILL.md
  .rubocop.yml
  CLAUDE.md
  spec/architecture_spec.rb
Due: rubocop_check

Path conditions:
  eslint_check: any of: *.js
  rubocop_check: any of: *.rb
